{
  "plugins": [
    "html"
  ],

  "extends": "xo/esnext",

  "env": {
    "browser": true,
    "node": true
  },

  "parserOptions": {
    ecmaVersion: 6,
    sourceType: "module"
  },

  "rules": {
    "indent": ["error", 2]
  }
}
