/* ===================================
   Layout helper
   =================================== */

/* Clearfix
   =================================== */
.clearfix::after {
  clear: both;
  content: '';
  display: block;
}
