/* ===================================
   Variables
   =================================== */

/* Colors
   =================================== */
$color-initial: #fff !default;
$color-primary: #FF304F !default;
$color-secondary: #002651 !default;
$color-tertiary: #775ADA !default;
$color-quaternary: #28C7FA !default;

$color-text: $color-secondary !default;
$color-bg: $color-initial !default;

/* Fonts
   =================================== */
$font-inital: Lato, sans-serif;
$font-size-init: 16px;
