/* ===================================
   Global variables
   =================================== */

/* Colors
   =================================== */
$color-initial: rgb(247, 247, 247) !default;
$color-primary: rgb(0, 99, 216) !default;
$color-secondary:  rgb(255, 48, 79) !default;
$color-tertiary: rgb(119, 90, 218) !default;

$color-text: rgba(0, 0, 0, 0.7) !default;
$color-bg: $color-initial !default;

/* Fonts
   =================================== */
$font-inital: Lato, sans-serif !default;
$font-size-inital: 16px !default;
