/* ===================================
   Base
   =================================== */

/* Set box-sizing for all childs and font size 100% for 16px
 * default font size
 */
html {
  box-sizing: border-box;
  font-size: 100%;
}

/**
 * Default body styles
 */
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-family-inital;
  font-size: calcRem(font-size-inital);
  line-height: 1.6;
}

/**
 * Set box-sizing globally to handle padding and border widths
 */
*,
*:after,
*:before {
  box-sizing: inherit;
}
