/* ===================================
   Global transitions
   =================================== */

/* Fade
   =================================== */
.fade-transition {
  transition: all 0.3s ease;
}

.fade-enter,
.fade-leave {
  opacity: 0;
}

/* Slide
   =================================== */
.slide-enter {
  animation: fade-up 0.3s;
}

.slide-leave {
  animation: fade-down 0.3s;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
