$color-initial: #fff;
$color-primary: #FF304F;
$color-secondary: #021d3b;
$color-tertiary: #775ADA;
$color-quaternary: #28C7FA;

$color-text: $color-initial;
$color-bg: $color-initial;

$font-inital: Lato, sans-serif;
$font-primary: Galada, cursive;

$border-radius-initial: 4px;
