$color-initial: #fff;
$color-primary: #E84A5F;
$color-secondary: #4AA0D5;
$color-tertiary: #303841;

$color-text: $color-initial;
$color-bg: $color-tertiary;

$font-inital: Lato, sans-serif;
$font-primary: Galada, cursive;

$border-radius-initial: 4px;
