.button {
  align-items: center;
  background: none;
  border: none;
  border-radius: $border-radius-inital;
  cursor: default;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  justify-content: center;
  overflow: hidden;
  outline: none;
  padding: 0.5em 1em; /* 8px 16px */
  position: relative;

  &::-moz-focus-inner {
    border: 0;
  }

  &[disabled] {
    opacity: 0.6;
  }

  &:not([disabled]) {
    cursor: pointer;
  }
}

.button--initial {
  background-color: $color-initial;

  &:focus,
  &:hover {
    background-color: darken($color-initial, 10%);
  }
}

.button--primary {
  background-color: $color-primary;
  color: $color-initial;

  &:focus,
  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.button--secondary {
  background-color: $color-secondary;
  color: $color-initial;

  &:focus,
  &:hover {
    background-color: darken($color-secondary, 10%);
  }
}
