/* ===================================
   Forms
   =================================== */

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  appearance: none;
  background-color: #fff;
  border: calcRem(1px) solid currentColor;
  box-shadow: none;
  color: $color-text;
  height: calcRem(41px);
  margin-bottom: $margin-space-3;
  padding: $padding-space-1 $padding-space-1;
  width: 100%;

  &:focus {
    border-color: $color-primary;
    outline: 0;
  }
}

textarea {
  min-height: calcRem(50px);
  padding-bottom: $padding-space-1;
  padding-top: $padding-space-1;
}

label,
legend {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: $margin-space-1;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

input[type='search'] {
  box-sizing: border-box;
}
